<div id="answerStageDisplay">
    <div class="host-container">
        <h4> Waiting for everyone to join!</h4>
        <h5> players</h5>
    </div>
    <ul class="players-list">
        <li v-for="(player, index) in players" :key="index">
            {{ player }}
        </li>
    </ul>
    <div class="host-container">
        <h5> Audience</h5>
    </div>
    <ul class="players-list">
        <li v-for="(audience, index) in audiences" :key="index">
            {{ audience }}
        </li>
    </ul>
    <div class="input-container">
        <h2> Answers stage </h2>
    </div>
    <div class="input-container">
        <h3> {{ roundTitle }}</h3>
    </div>
    <div class="input-container">
        <h3> {{ numberOfAnswerDisplay }} answers have been received from</h3>
    </div>

    <ul class="players-list">
        <li v-for="(player, index) in answerSubmittedDisplay" :key="index">
            {{ player }}
        </li>
    </ul>

    <div class="input-container">
        <h3> {{ numberOfAnswerAwaitingDisplay }} answers is awaiting ...</h3>
    </div>

    <ul class="players-list">
        <li v-for="(player, index) in answerAwaitingDisplay" :key="index">
            {{ player }}
        </li>
    </ul>


</div>