<!doctype html>
<html lang="en">

    <%- include('header'); -%>

    <h2 class="title">ECS Example Game Display</h2>

    <div id="game">
        <div v-if="connected">
            <ul id="chat">
                <li v-for="message in messages">{{message}}</li>
            </ul>
        </div>
        <div class="host-container">
            <h4> Waiting for everyone to join!</h4>
        </div>
        <ul class="players-list">
            <li v-for="(player, index) in players" :key="index">
                {{ player }}
            </li>
        </ul>
        <div v-else>
            <p>Connecting...</p>
        </div>
    </div>

    <%- include('footer'); -%>

</html>
