<div id="prompt_collect">
    <div class="input-container">
        <h3> {{ username }}</h3>
    </div>
    <div v-if="!promptSubmitted" class="host-container">
        <h5> think of a funny question or prompt</h5>
    </div>

    <div v-if="promptSubmitted" class="host-container">
        <h5> now you just need to wait for everyone else...</h5>
    </div>

    <div v-if="!promptSubmitted" class="prompt-container">
        <input type="text" id="prompt" v-model="prompt">
    </div>

   
    
    
    
    <div v-if="!promptSubmitted" class="button-container">
        <button  @click="prompt_submitted">Done</button>
    </div>
    <div id="status" style="color: red;">{{ promptMessage }}</div>
    
</div>