<div id="prompt_collect">
    <div class="input-container">
        <h3> {{ username }}</h3>
    </div>
    <div class="host-container">
        <h5> think of a funny question or prompt</h5>
    </div>

    <div v-if="!prompt_submitted" class="prompt-container">
        <input type="text" id="prompt">
    </div>

   
    
    
    
    <div v-if="!prompt_submitted" class="button-container">
        <button  @click="prompt_submitted">Done</button>
    </div>
    <div id="status" style="color: red;">{{ statusMessageGameStart }}</div>
    
</div>