<div id="Score stage">
    <div class="input-container">
        <h3> {{ username }}</h3>
    </div>
    <div v-if="!VoteScoresDone"  class="host-container">
        <h5>{{firstScoreQuestion}}</h5>
    </div>

    <div v-if="VoteScoresDone" class="host-container">
        <h5> now you just need to wait for everyone else...</h5>
    </div>
 
    
    <div v-if="!VoteScoresDone" class="scoreList-container">
        <!-- 两个列表的容器 -->
        <div class="scrollable-lists-container">
            <!-- 左侧滚动列表 -->
            <ul class="scrollable-list">
                <li v-for="(item, index) in ScoreContentList1" :key="`list1-${index}`" @click="voteOption1(index)">
                    {{ item }}
                </li>
            </ul>
            <!-- 右侧滚动列表 -->
            <ul class="scrollable-list">
                <li v-for="(item, index) in ScoreContentList2" :key="`list2-${index}`" @click="voteOption2(index)">
                    {{ item }}
                </li>
            </ul>
        </div>
    </div>

    <div v-if="!VoteScoresDone" class="button-container">
        <button  @click="thisScoreDone">Done</button>
    </div>
    

    <div v-if="isHost" class="buttonRight-container">
        <button  @click="thisRoundDone">next Round</button>
    </div>
    
</div>