body {
    background-image: url('/static/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #acc5d0;
}
.title {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}
.container {
    background-color: rgba(255,255,255,0.8);
    padding-bottom: 10px;
    padding-top: 10px;
    height: 100vh;
}
#chat { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: auto;
    max-height: 80vh;
}
#chat li { 
    padding: 5px 10px; 
}
#chat li:nth-child(odd) { 
    background-color: rgba(0,0,0,0.2); 
}
body {
    background-image: url('/static/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #acc5d0;
}
.title {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}
.container {
    background-color: rgba(255,255,255,0.8);
    padding-bottom: 10px;
    padding-top: 10px;
    height: 100vh;
}
#chat { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: auto;
    max-height: 80vh;
}
#chat li { 
    padding: 5px 10px; 
}
#chat li:nth-child(odd) { 
    background-color: rgba(0,0,0,0.2); 
}
.input-container {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.prompt-container {
    margin-bottom: 15px;
    display: flex; /* 启用 Flexbox 布局 */
    flex-direction: column; /* 子元素垂直排列 */
    justify-content: center; /* 垂直方向居中 */
    align-items: stretch; /* 水平方向居中 */
  }

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

.buttonRight-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

.host-container {
    margin-bottom: 15px; /* 与按钮保持间距 */
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players-list {
    display: flex; /* 设置为 Flexbox 布局，使元素水平排列 */
    flex-wrap: wrap; /* 当元素超出容器宽度时自动换行 */
    list-style: none; /* 去掉默认的列表样式 */
    padding: 0; /* 去掉默认的内边距 */
    margin: 0; /* 去掉默认的外边距 */
}

.players-list li {
    margin-right: 10px; /* 为每个列表项添加右边距 */
    padding: 8px 16px; /* 给每个名字加上内边距 */
    border: 2px solid #3498db; /* 给每个名字添加蓝色边框 */
    border-radius: 12px; /* 设置圆角，使边框更圆滑 */
    background-color: #ecf0f1; /* 给每个框添加背景色 */
    font-size: 14px; /* 设置字体大小 */
    color: #2c3e50; /* 设置字体颜色 */
    white-space: nowrap; /* 确保每个 player 名字不会换行 */
}
.players-list li:hover {
    background-color: #bdc3c7; /* 鼠标悬停时改变背景颜色 */
}

